* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  background-color: #19171a;
  color: white;
  width: 100%;
}

.image-principal {
  width: 100%;
}

ul li {
  list-style: none;
}

/*section belts*/
.principal-container-belts {
  background-color: #e6e6e6;
  margin: 0 auto;
  padding-bottom: 60px;
}

.flechas {
  width: 100px;
  height: 36px;
}

.tittle-belts{
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  }
    /* @media all and (min-width: 768px){
      padding: 30px 0;
    }
    /* @media all and (min-width: 1024px){
      padding-top: 60px;
    } */

.belts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10%;
  grid-gap: 5px;
  text-align: center;
}

.belt-image {
width: 300px;
height: 116px;
}

/*footer*/
footer {
  width: 100%;
}
