* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  background-color: #19171a;
  color: white;
  width: 100%;
}

.image-principal {
  width: 100%;
}

ul li {
  list-style: none;
}

/*section belts*/

h3 {
  padding-bottom: 24px;
}

h2 {
  padding: 0 35px;
}

.principal-container-belts {
  background-color: #e6e6e6;
  margin: 0 auto;
  padding: 60px 50px 20px;
}

.flechas {
  width: 100px;
  height: 36px;
}

.tittle-belts{
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  }
    /* @media all and (min-width: 1024px){
      padding-top: 60px;
    } */

.belts {
  text-align: center;
}


.belt-image {
width: 200px;
height: 80px;
}

.belt-text {
  padding: 10px 35px 63px;
}

/*footer*/
footer {
  width: 100%;
}

/* media querys */

@media all and (min-width: 768px) {
  .belts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10%;
    grid-gap: 5px;
  }
